.corpo {
  background-color: #f9f9f9; 
  padding: 40px; 
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.corpo .project {
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin-bottom: 40px; 
}

.corpo .project h3 {
  color: #333;
}

.corpo .project p {
  color: #666; 
}

.corpo .project a {
  color: #007bff; 
  text-decoration: none; 
}

.corpo .project a:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
}

/* comentario*/
