.rodape {
  background-color: #333; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
}

.rodape p {
  margin: 0; /* Remover margens padrão do parágrafo */
}

.rodape nav ul {
  list-style: none; /* Remover marcadores de lista */
  padding: 0; /* Remover espaçamento interno */
}

.rodape nav ul li {
  display: inline; /* Exibir os itens da lista em linha */
  margin-right: 10px; /* Espaçamento entre os itens */
}

.rodape nav ul li a {
  color: #fff; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado padrão */
}

.rodape nav ul li a:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
}
