.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens sejam enrolados em telas menores */
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box; /* Garante que o padding não afete a largura da coluna */
}

.column h2 {
  margin-bottom: 10px;
}

.column p {
  margin-bottom: 10px;
  font-size: 14px;
}

.column img {
  max-width: 100%;
  height: auto;
}

/* Media query para ajustar o layout em telas menores */
@media (max-width: 768px) {
  .column {
    flex-basis: 100%; /* Defina a largura da coluna como 100% em telas menores */
  }
}



/* Adicione esta regra CSS ao seu arquivo .css */

.column a {
  text-decoration: none; /* Remove o sublinhado padrão */
  color: #654321; /* Define a cor do texto do link */
  font-weight: bold; /* Define a fonte em negrito */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte personalizada */
  margin-bottom: 20px; /* Adiciona espaçamento abaixo do link */
  margin-top: 10px; /* Adiciona espaçamento acima do link */
}

.column a:hover {
  text-decoration: underline; /* Adiciona um sublinhado quando o mouse passa por cima */
  color: chocolate; /* Define a cor do texto do link */
}

