/* index.module.css */

.conteudoPrincipal {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 45%;
  margin: 10px;
  background-color: #f2f2f2;
  text-align: center; /* Centraliza o texto horizontalmente */
}

@media screen and (max-width: 768px) {
  .item {
    flex-basis: 100%;
  }
}

.imagem {
  /* Adicione estilos para a imagem, se necessário */
}

/* Adicione mais estilos conforme necessário */
