.container {
  background-color: #b63030;
  padding: 100px;
  display:flex
}

#titulo {
  color:burlywood;
}

.menus {
    display: flex;
    justify-content: flex-start;
}

.menus li {
  padding: 10px;
  list-style: none;
}

.menus li:last-child {
  border-right: none;
}



