/* componentes/Cabeçalho/index.module.css */

.header {
  display: flex;
  justify-content: space-between; /* Alinhar os elementos no início e no final do cabeçalho */
  align-items: center; /* Alinhar verticalmente */
  padding: 10px; /* Adicionar espaçamento interno */
  background-color: #f3f0eb; /* Fundo cremoso */
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif;
}

.navlinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navlinks ul li {
  display: inline; /* Exibir os itens da lista horizontalmente */
  margin-right: 10px; /* Espaçamento entre os itens */
}
